/* -------------- FONT FACE -------------- */

@font-face {
	font-family: 'ProximaNova';
	src: url('../fonts/proxima/proximanova-light-webfont.eot');
	src: url('../fonts/proxima/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/proxima/proximanova-light-webfont.woff2') format('woff2'),
	url('../fonts/proxima/proximanova-light-webfont.woff') format('woff'),
	url('../fonts/proxima/proximanova-light-webfont.ttf') format('truetype'),
	url('../fonts/proxima/proximanova-light-webfont.svg#proxima_novalight') format('svg');
	font-weight: 300;
	font-style: normal;

}

@font-face {
	font-family: 'ProximaNova';
	src: url('../fonts/proxima/proximanova-regular-webfont.eot');
	src: url('../fonts/proxima/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/proxima/proximanova-regular-webfont.woff2') format('woff2'),
	url('../fonts/proxima/proximanova-regular-webfont.woff') format('woff'),
	url('../fonts/proxima/proximanova-regular-webfont.ttf') format('truetype'),
	url('../fonts/proxima/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
	font-weight: 400;
	font-style: normal;

}

@font-face {
	font-family: 'ProximaNova';
	src: url('../fonts/proxima/proximanova-semibold-webfont.eot');
	src: url('../fonts/proxima/proximanova-semibold-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/proxima/proximanova-semibold-webfont.woff2') format('woff2'),
	url('../fonts/proxima/proximanova-semibold-webfont.woff') format('woff'),
	url('../fonts/proxima/proximanova-semibold-webfont.ttf') format('truetype'),
	url('../fonts/proxima/proximanova-semibold-webfont.svg#proxima_novasemibold') format('svg');
	font-weight: 500;
	font-style: normal;

}


@font-face {
	font-family: 'ProximaNova';
	src: url('../fonts/proxima/proximanova-bold-webfont.eot');
	src: url('../fonts/proxima/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/proxima/proximanova-bold-webfont.woff2') format('woff2'),
	url('../fonts/proxima/proximanova-bold-webfont.woff') format('woff'),
	url('../fonts/proxima/proximanova-bold-webfont.ttf') format('truetype'),
	url('../fonts/proxima/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
	font-weight: 600;
	font-style: normal;

}

/* -------------- GENERALES -------------- */

body{
	font-family: 'ProximaNova',sans-serif;
	font-style: normal;
	font-weight: 300;
	position: relative;
	height: 100%;
}

main{
	position: relative;
}

strong{
	font-weight: bold;
}

h1{
	font-family: 'Roboto Slab', serif;
	font-size: 2.3rem;
	font-weight: 700;
	
}

h2,h3,h4,h5,h6{
	font-family: 'Roboto Slab', serif;
}



p{
	font-size: 1.3rem;
}

.lead{
	font-size: 1.35rem;
	font-weight: 300;
}

.btn-egg{
	font-family: 'Roboto Slab', serif;
	background-color: #ffca00;
	border-color: #ffca00; 
}

.b-big{
	height: 100px;
	line-height: 32px;
	font-size: 1.5rem;
}

.accordion{
	overflow: hidden;
}

.btn-egg:hover{
	background-color:#dbaf33 !important; 
	border-color: #dbaf33 !important;
	transition-duration: 0.2s;
	-moz-transition-duration: 0.2s; /* Firefox 4 */
	-webkit-transition-duration: 0.2s; /* Safari and Chrome */
	-o-transition-duration: 0.2s; /* Opera */
}


.btn-egg.dark{
	background-color: #333;
	border-color: #333;
}

.btn-egg.yellow{
	background-color:#ffca00;
	border-color:#ffca00;
}

.btn-egg.dark:hover{
	background-color: #666 !important;
	border-color: #333;
}

.btn-egg.contraste{
	color: #333;
}

.tooltip p{
	font-size: 1rem !important;
}

.whatsapp{
	position:fixed;
	bottom:30px;
	right:30px;
	z-index: 10000;
    opacity:0;
}

.washrink{
    opacity:1;
	-webkit-transition:opacity 0.6s ease;
	-moz-transition:opacity 0.6s ease; 
	-o-transition:opacity 0.6s ease;      
	transition:opacity 0.6s ease; 
}

/* -------------- NAVIGATION -------------- #ffca00 */
nav{
}

nav #first {
	text-transform: uppercase;
	font-size: 0.7rem;
	font-weight: bold;
	letter-spacing: 0.15rem;
	padding: auto;
}

nav #second{
	box-shadow: 0px 7px 20px -15px #333;
} 

#first.shrink{ 
	padding: 0px;
	-webkit-transition:padding 0.2s ease;
	-moz-transition:padding 0.2s ease; 
	-o-transition:padding 0.2s ease;      
	transition:padding 0.2s ease;  
}



.nav-link{
	padding-right: 0.8rem !important;
	padding-left: 0.8rem !important;
}

.nav-link.active{
	color:#ffca00 !important;
}

.txtbco{
	color:white;
}

.txtylow{
	color:#ffca00;
}



/* -------------- HERO -------------- #ffca00 */

#hero{
	/* background: url('../images/img_hero.jpg');
	background-size: cover; */
	height: 750px !important;
	padding-top:115px;
}

#herotbj{
	background: url('../images/img_top2.jpg');
	background-size: cover;
	height: 750px !important;
	padding-top:115px;
}

#heromkt{
	background: url('../images/img_mkt.jpg');
	background-size: cover;
	height: 750px !important;
	padding-top:115px;
}

#heroprg{
	background: url('../images/img_programacion.jpg');
	background-size: cover;
	height: 750px !important;
	padding-top:115px;
}

/* -------------- APRENDE CREANDO / A QUIEN VA DIRIGIDO -------------- #ffca00 */



/* -------------- QUE VAS A APRENDER -------------- #ffca00 */
#learnbydoing{
	background: url('../images/bg_rayos.png') #ffca00;
	background-position: center center;
	background-size: 100%;
	background-repeat: no-repeat;
}


/* -------------- PROGRAMA -------------- #ffca00 */
#programa{
	background: url('../images/bg_elementos.png');
	background-position: center right;
	background-size: 50%;
	background-repeat: no-repeat;
}


ul{
	padding:0;
margin:0;
	list-style-position: inside;
}

.accordion, .acordion ul li{
	font-size: 1.3rem;
}

.accordion button{
	text-decoration: none !important;
	color: #333;
	font-size: 1.2rem;
}

.accordion button:hover{
	text-decoration: none !important;
	color: #ffca00;
}

.accordion .btn-link{
		white-space:normal;
		text-align:center;
	}



/* -------------- EDUUCACION DEL FUTURO -------------- #ffca00 */

#edudelfuturo{
	background: url("../images/pattern.svg") #3e4646;
}


/* -------------- CUPOS LIMITADOS -------------- #ffca00 */

#cuposlimitados{
	background: url("../images/pattern.svg") #3e4646;
}

#cuposlimitados h1{
	font-size: 3rem;
}



/* -------------- PROCESO DE INSCRIPCIÓN -------------- #ffca00 */




/* -------------- PROFESORES -------------- #ffca00 */

#profesores{
	background: url("../images/pattern.svg") #3e4646;
}

#profesores img{
	width: 70%;
	margin-bottom: 15px;
}

#profesores h5{
	font-family: 'Roboto Slab', serif;
	margin-bottom: 15px;
}

#profesores small{
	font-size: 1rem;
	color: #ffca00;
}




/* -------------- HORARIO Y PRECIOS -------------- #ffca00 */

#datos{
	background: #ffca00;
}


#horariosyprecios{
	border-radius:15px !important;
}

.modal{
	padding-right: 0px !important;
}


/* -------------- SOCIAL -------------- #ffca00 */

#social{
	background: url("../images/pattern.svg") #3e4646;
}

#social i{
	font-size: 3rem;
	color:white;
	background-repeat: no-repeat;
}



@media (min-width: 576px) { 

	/* -------------- GENERALES -------------- */



}


@media (min-width: 768px) {

	.padding-section{
		padding:50px 0 50px;
	}

}

@media (min-width: 992px) { 
	.accordion .btn-link{
		text-align:left;
	}
}

@media (min-width: 1200px) { 

	#hero h1{
		font-size: 3rem;
	}

	

}

@media (min-width: 1662px) { 

	.limit-panel{
		max-width: 1662px;
		margin:15px auto;
	}




}

/* MAYOR O IGUAL A 1920 */
@media only screen and (min-width:1920px) {

	.jumbotron{
		position: relative;
		top:-140px;
		background: url('../images/img_top.jpg') no-repeat;
		background-position: 77% 0;
		min-height: 524px;
		z-index: 1;
		padding: 220px 0 0 0;
	}
	.jumbotron_contacto{
		position: relative;
		top:-140px;
		background: url('../images/img_top2.jpg') no-repeat;
		/*background-position: 77% 0;*/
		min-height: 524px;
		z-index: 1;
		padding: 220px 0 0 0;
	}
	.jumbotron_insc{
		position: relative;
		top:-140px;
		background: url('../img/img_top3.jpg') no-repeat;
		background-position: 77% 0;
		min-height: 524px;
		z-index: 1;
		padding: 220px 0 0 0;
	}

	a#anchorb {
		position: relative;
		top:-70px;
		display: block;
		height: 0;
		width:0;
	}

}

/* MAYOR O IGUAL A 1600 */
@media only screen and (min-width:1600px) and (max-width : 1919px) {

	.jumbotron{
		position: relative;
		top:-140px;
		background: url('../images/img_top.jpg') no-repeat;
		background-position: 90% 0;
		min-height: 524px;
		z-index: 1;
		padding: 220px 0 0 0;
	}
	.jumbotron_contacto{
		position: relative;
		top:-140px;
		background: url('../images/img_top2.jpg') no-repeat;
		/*background-position: 90% 0;*/
		min-height: 524px;
		z-index: 1;
		padding: 220px 0 0 0;
	}
	.jumbotron_insc{
		position: relative;
		top:-140px;
		background: url('../img/img_top3.jpg') no-repeat;
		background-position: 90% 0;
		min-height: 524px;
		z-index: 1;
		padding: 220px 0 0 0;
	}

}

/* MAYOR O IGUAL A 1440 */
@media only screen and (min-width:1440px) and (max-width : 1599px) {

	.jumbotron{
		position: relative;
		top:-140px;
		background: url('../images/img_top.jpg') no-repeat;
		background-position: 100% 0;
		min-height: 524px;
		z-index: 1;
		padding: 220px 0 0 0;
	}
	.jumbotron_contacto{
		position: relative;
		top:-140px;
		background: url('../images/img_top2.jpg') no-repeat;
		/*background-position: 100% 0;*/
		min-height: 524px;
		z-index: 1;
		padding: 220px 0 0 0;
	}
	.jumbotron_insc{
		position: relative;
		top:-140px;
		background: url('../img/img_top3.jpg') no-repeat;
		background-position: 100% 0;
		min-height: 524px;
		z-index: 1;
		padding: 220px 0 0 0;
	}

}

/*MAYOR O IGUAL A 1366 */
@media only screen and (min-width:1366px) and (max-width : 1439px) {

	.jumbotron{
		position: relative;
		top:-140px;
		background: url('../images/img_top.jpg') no-repeat;
		background-position: 110% 0;
		min-height: 524px;
		z-index: 1;
		padding: 220px 0 0 0;
	}
	.jumbotron_contacto{
		position: relative;
		top:-140px;
		background: url('../images/img_top2.jpg') no-repeat;
		/*background-position: 110% 0;*/
		min-height: 524px;
		z-index: 1;
		padding: 220px 0 0 0;
	}
	.jumbotron_insc{
		position: relative;
		top:-140px;
		background: url('../img/img_top3.jpg') no-repeat;
		background-position: 110% 0;
		min-height: 524px;
		z-index: 1;
		padding: 220px 0 0 0;
	}

}

/* MAYOR O IGUAL A 1280 */
@media only screen and (min-width:1241px) and (max-width : 1356px) {

	.jumbotron{
		position: relative;
		top:-140px;
		background: url('../images/img_top.jpg') no-repeat;
		background-position: 120% 0;
		min-height: 524px;
		z-index: 1;
		padding: 220px 0 0 0;
	}
	.jumbotron_contacto{
		position: relative;
		top:-140px;
		background: url('../images/img_top2.jpg') no-repeat;
		/*background-position: 120% 0;*/
		min-height: 524px;
		z-index: 1;
		padding: 220px 0 0 0;
	}
	.jumbotron_insc{
		position: relative;
		top:-140px;
		background: url('../img/img_top3.jpg') no-repeat;
		background-position: 120% 0;
		min-height: 524px;
		z-index: 1;
		padding: 220px 0 0 0;
	}

}

/* MAYOR O IGUAL A 1024 */
@media only screen and (min-width:1111px) and (max-width : 1240px) {

	.jumbotron{
		position: relative;
		top:-140px;
		background: url('../images/img_top.jpg') no-repeat 200% 0;
		min-height: 524px;
		z-index: 1;
		padding: 220px 0 0 0;
	}
	.jumbotron_contacto{
		position: relative;
		top:-140px;
		background: url('../images/img_top2.jpg') no-repeat;
		/*background-position: 200% 0;*/
		min-height: 524px;
		z-index: 1;
		padding: 220px 0 0 0;
	}
	.jumbotron_insc{
		position: relative;
		top:-140px;
		background: url('../img/img_top3.jpg') no-repeat;
		background-position: 200% 0;
		min-height: 524px;
		z-index: 1;
		padding: 220px 0 0 0;
	}

}


/* MAYOR O IGUAL A 1024 */
@media only screen and (min-width:1024px) and (max-width : 1110px) {

	.jumbotron{
		position: relative;
		top:-140px;
		background: url('../images/img_top.jpg') no-repeat 280% 0;
		min-height: 524px;
		z-index: 1;
		padding: 220px 0 0 0;
	}
	.jumbotron_contacto{
		position: relative;
		top:-140px;
		background: url('../images/img_top2.jpg') no-repeat;
		/*background-position: 280% 0;*/
		min-height: 524px;
		z-index: 1;
		padding: 220px 0 0 0;
	}
	.jumbotron_insc{
		position: relative;
		top:-140px;
		background: url('../img/img_top3.jpg') no-repeat;
		background-position: 280% 0;
		min-height: 524px;
		z-index: 1;
		padding: 220px 0 0 0;
	}
	#myCarousel2{
		display: none;
	}

	.carousel-indicators{
		z-index:-100;
	}

}

/* MAYOR O IGUAL A 1024 */
@media only screen and (min-width: 770px) and (max-width : 1023px) {

	.jumbotron{
		position: relative;
		background: url('../images/img_top.jpg') no-repeat 100% 0;
		background-size: 50%;
		top:-140px;
		background: none;
		min-height: 524px;
		z-index: 1;
		padding: 220px 0 0 0;
	}
	.jumbotron_contacto{
		position: relative;
		background: url('../images/img_top2.jpg') no-repeat 100% 0;
		background-size: 50%;
		top:-140px;
		background: none;
		min-height: 524px;
		z-index: 1;
		padding: 220px 0 0 0;
	}
	.jumbotron_inscripcion{
		position: relative;
		background: url('../img/img_top3.jpg') no-repeat 100% 0;
		background-size: 50%;
		top:-140px;
		background: none;
		min-height: 524px;
		z-index: 1;
		padding: 220px 0 0 0;
	}


}

/* FOOTER */

footer{
	
}
.gris{
	background: #f5f5f5;
}

.legal{
	font-family: 'ProximaNova',sans-serif;
	font-weight: 300;
	font-size: 11px;
	padding: 20px 0 0px;
}

#f1,#f2{
	padding: 0;
	margin: 0;
}

#f1{
	padding:40px 0 30px;
}

#f2{
	padding:0 0 20px;
}

footer ul{

	list-style: none;
	font-size: 14px;
	display: inline;
}
footer ul li{
	
}
footer ul li a{
	font-family: 'ProximaNova',sans-serif;
	font-weight: 500;
	color:#3d4747;
	text-decoration: none;
}
footer ul li a:hover{
	color:#666;
	text-decoration: none;
}

.last_nav_footer{
	margin:-5px 0 0 0;
}
.fcbk_footer{
	margin: 0 0 0 10px;
}

.nav_footer li{
	font-size: 14px;
	padding-top:10px;
}
.nav_footer li:first-child{
	padding-top:0px;
}

/* CONTACTO */

section#contacto{
	margin: 0 0 0px;
	padding:0;
}

section#mapa{
	margin: 0 0 20px;
	padding:0;
}

section#contacto_datos{
	margin: 0 0 50px;
	padding:0;
}


#contacto h2{
	margin: 0 0 30px;
	color:#7e8585;
}

section#mapa{
	padding-top:0;
	margin-top:0;
}

#contacto-result{
	margin:0 0 0 0;

}

/*POPUPS*/
#t-martinapop,#t-axelpop,#t-jaquelinapop,#t-angiepop,#t-evapop,#t-luciapop,#t-melisapop, #t-nancypop, .popup { display:none; }
#t-martinapop,#t-axelpop,#t-jaquelinapop,#t-angiepop,#t-evapop,#t-luciapop,#t-melisapop, #t-nancypop, .popup {
	width: 600px;
	height: auto;
	background: #FFF;
	padding:50px;
}


.popupclose{
	float: right;
}

/* VALIDACION FORM */


.help-block ul{
	margin:0;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px;
}
.help-block ul li{
	list-style: none;
	padding: 5px;
    color:red;
    font-size: 14px;
}

.bg-warning{
    padding:0 0 0 10px;
    border-radius: 3px;
    webkit-border-radius: 3px;
    moz-border-radius: 3px;
}

.bg-success{
    padding:20px;
    border-radius: 3px;
    webkit-border-radius: 3px;
    moz-border-radius: 3px;
    text-align: center;
}
